.modal__wrapper {
  padding: map-get($map: $spacing-sm, $key: padding-modal);
  display: flex;
  flex-direction: column;
  gap: map-get($map: $spacing-sm, $key: gap-24);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal__wrapper-info {
    display: flex;
    flex-direction: column;
    gap: map-get($map: $spacing-sm, $key: gap-price);

    .info-text {
      font-family: $font-tertiary;
      font-size: map-get($map: map-get($sizes-sm, title), $key: font-size);
      line-height: map-get($map: map-get($sizes-sm, title), $key: line-height);
      color: $heading-color-primary;
    }

    .info-message {
      font-family: $font-secondary;
      font-size: map-get($map: map-get($sizes-sm, title), $key: font-size);
      line-height: map-get($map: map-get($sizes-sm, title), $key: line-height);
      color: $form-text-color;
    }
  }

  .modal__wrapper-button-part {
    display: flex;
    justify-content: flex-end;
    gap: map-get($map: $spacing-sm, $key: gap-price);
  }
}
