include ../../atoms/checkbox/checkbox.pug
mixin EmptyCartAccordionGroup()
  .accordion.group.js-accordion
    +AccordionItem("How to buy?", 0)
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet minus cupiditate molestias iusto et! Harum, iure eius.
    +AccordionItem("Learn how to order", 1)
      p Dummy content
    +AccordionItem("Get exclusive deal", 2)
      p DEAL
