mixin BurgerMenu()
  .burger-menu
    ul.burger-menu__list 
      li.burger-menu__item 
        a(href="../../pug/pages/index.html").burger-menu__link Marketplace
      li.burger-menu__item 
        a(href="../../pug/pages/cart.html").burger-menu__link.js-cart-link Cart
    .burger-triangle
      